.main-header
  .left-box
    %h2.left-box__curret-group
      = @group.name
    %ul.left-box__member-list
      Member :
      - @group.users.each do |user|
        = user.name
      
  .edit-btn
  =link_to 'Edit', edit_group_path(@group)
    

.message-list
  .message
    = render @messages

.message-form
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'